.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* multi browser */

html::-webkit-scrollbar {width: thin !important;}
 html::-webkit-scrollbar-thumb {background-color: rgb(13, 75, 156);} 
html::-webkit-scrollbar-track {background-color: rgba(4, 131, 216, 0.836); }
::-webkit-scrollbar-button {background-color: rgba(4, 131, 216, 0.836);} 
/* Only IE */
 html {scrollbar-face-color: #0064a7; scrollbar-shadow-color: #8ea5b5; scrollbar-highlight-color: #8ea5b5;}
/* Only FireFox */
/* html {scrollbar-color: #0064a7 #8ea5b5;} */
/* View Scrollbar */
/* html {overflow-y: scroll;overflow-x: hidden;} */ 

@media (max-width: 600px) {
 body{
   font-size: small !important;
 }
}

.App-link {
  color: #18cafc;
}
body{
  background-image: linear-gradient(85deg,#061937,#0d6c9b);
  height: 100vh;
  font-family: Copperplate;
}
.table{
  color: #04d0ff !important;
  white-space: nowrap;
  /* font-size: small; */
}
h3{
  color: #7eb6ff
}
.tableCol{      
  overflow: auto;
  display: flex;
  scrollbar-color: rgba(4, 131, 216, 0.836) rgb(13, 75, 156);
  scrollbar-width: thin !important;
}
.search_data:hover{
  background-color: #c2c6ca;
  border-radius: 10px;
}
.search_data{
 list-style-type: none;
  border-radius: 10px;
  padding: 3px 11px;
}
.search_main{
  border-radius: 10px;
}
.h-100{
  height: 100vh !important;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
